.img-about {
  display: grid;
  grid-template-columns: 38% 55%;
  gap: 6rem;
}

.about-heading-txt {
  padding-left: 20rem;
  // padding-right: -20rem;
  background-color: #000;
  color: #fff;
  mix-blend-mode: multiply;
  user-select: none;
}
.my-image{
  height: 30rem;
  width: 30rem;
}

/* Timeline.css */

.timeline-container {
  overflow-x: hidden;
}

.timeline {
  display: flex;
  transition: transform 0.3s ease; /* Smooth transition for scroll effect */
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px; /* Set the width of each timeline item */
}

.timeline-dot {
  width: 10px;
  height: 10px;
  background-color: #007bff; /* Customize the color of the timeline dot */
  border-radius: 50%;
  margin-top: 10px;
}

.timeline-content {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
