@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Montserrat", sans-serif;
}

a {
  box-shadow: inset 0 0 0 0 #46bbe6;
  color: #fcfcfc;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
a:hover {
  box-shadow: inset 16rem 0 0 0 #a934df;
  color: white;
}